@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Arial";
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../imagens/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

.temperatura {
  width: 480px;
  height: 480px;
  background-image: url(../imagens/nuvens.jpg);
  background-size: cover;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.nuvens {
  position: absolute;
  top: 0;
  width: 176px;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nuvens > .nuvem-tras {
  position: relative;
  left: -110px;
  top: -10px;
}

.nuvens > .nuvem-frente {
  position: relative;
  left: -30px;
  z-index: 1000;
}

.local {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #c2bff4;
}

.local > img {
  margin: 0 10px;
}

.graus-dia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graus-dia .graus {
  display: flex;
}

.graus-dia .graus > h1 {
  font-size: 4rem;
  color: #fff;
}

.graus-dia .graus > span {
  margin-top: 10px;
  color: #dad8f7;
}

.graus-dia > div > .temperatura-max {
  color: #fff;
}

.graus-dia > div > .temperatura-min {
  color: #c2bff4;
}

.detalhes-dia {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detalhes-dia > div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 6px;
}

.detalhes-dia > div > div > p:nth-child(1) {
  color: #e7e6fb;
  font-style: normal;
  font-weight: 400;
}

.detalhes-dia > div > div > p:nth-child(2) {
  color: #e7e6fb;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.dados {
  display: flex;
  flex-direction: column;
  height: 480px;
  background-size: cover;
  border-radius: 10px;
}

.ar-sol {
  display: flex;
  align-items: center;
}

.qualidade-ar {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 277px;
  height: 244px;
  background: #6d67d0;
  border-radius: 10px;
  padding: 1rem;
}

.qualidade-ar > .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.qualidade-ar > .titulo > img {
  margin: 0 10px;
}

.qualidade-ar > .titulo > p {
  color: #dad8f7;
}

.qualidade-ar > .nivel-ar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nivel-ar > .boa {
  color: #87ebcd;
  padding: 0.3rem 0;
}

.nivel-ar > .ruim {
  color: #ba2626;
  padding: 0.3rem 0;
}

.numero-qualidade-ar {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #e7e6fb;
}

.qualidade-ar > .info-ar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qualidade-ar > .info-ar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.qualidade-ar > .info-ar > div > .num-ar {
  color: #87ebcd;
  font-size: 14px;
}

.qualidade-ar > .info-ar > div > .elemento {
  font-size: 12px;
  color: #e7e6fb;
}

.sol {
  width: 277px;
  height: 244px;
  background: #6d67d0;
  border-radius: 10px;
  margin-left: 24px;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sol > .horario-sol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.sol > .horario-sol > img {
  width: 20px;
  height: 20px;
  margin: 0 8px;
}

.sol > .horario-sol > p {
  color: #dad8f7;
  text-align: center;
}

.sol > .linha-sol {
  position: relative;
  left: 14px;
  top: 148px;
  width: 216px;
  height: 0px;
  border: 1px solid rgba(246, 200, 51, 0.4);
}

.linha-sol > .posicao-final-sol {
  position: absolute;
  top: -17px;
  left: 200px;
  z-index: 1000;
}

.linha-sol > .horario {
  color: #fff;
  font-weight: 700;
font-size: 14px;
position: absolute;
top: -55px;
left: 85px;
}

.posicao-sol {
  position: absolute;
  left: -5px;
  top: -15px;
  z-index: 1000;
  transition: 0.5s;
  animation: horarioSol infinite 27000000ms;
}

@keyframes horarioSol {
  1% {
    top: -20px;
    left: -4px;
  }
  3% {
    top: -25px;
    left: -3px;
  }
  5% {
    top: -30px;
    left: -2px;
  }
  7% {
    top: -35px;
    left: -1px;
  }
  9% {
    top: -40px;
    left: 0;
  }
  11% {
    top: -45px;
    left: 2px;
  }
  13% {
    top: -50px;
    left: 4px;
  }
  15% {
    top: -55px;
    left: 6px;
  }
  17% {
    top: -60px;
    left: 8px;
  }
  19% {
    top: -65px;
    left: 11px;
  }
  20% {
    top: -70px;
    left: 14px;
  }
  22% {
    top: -75px;
    left: 17px;
  }
  24% {
    top: -80px;
    left: 23px;
  }
  26% {
    top: -85px;
    left: 29px;
  }
  28% {
    top: -90px;
    left: 34px;
  }
  30% {
    top: -95px;
    left: 37px;
  }
  32% {
    top: -100px;
    left: 48px;
  }
  34% {
    top: -105px;
    left: 58px;
  }
  36% {
    top: -106px;
    left: 63px;
  }
  38% {
    top: -107px;
    left: 65px;
  }
  40% {
    top: -108px;
    left: 70px;
  }
  42% {
    top: -109px;
    left: 74px;
  }
  44% {
    top: -109px;
    left: 76px;
  }
  46% {
    top: -109px;
    left: 78px;
  }
  46% {
    top: -109px;
    left: 80px;
  }
  48% {
    top: -110px;
    left: 87px;
  }
  50% {
    top: -110px;
    left: 93px;
  }
  52% {
    top: -111px;
    left: 96px;
  }
  54% {
    top: -112px;
    left: 100px;
  }
  56% {
    top: -111px;
    left: 105px;
  }
  58% {
    top: -110px;
    left: 110px;
  }
  60% {
    top: -112px;
    left: 114px;
  }
  60% {
    top: -111px;
    left: 118px;
  }
  62% {
    top: -109px;
    left: 123px;
  }
  62% {
    top: -107px;
    left: 128px;
  }
  62% {
    top: -105px;
    left: 132px;
  }
  64% {
    top: -103px;
    left: 137px;
  }
  66% {
    top: -101px;
    left: 142px;
  }
  68% {
    top: -98px;
    left: 147px;
  }
  70% {
    top: -95px;
    left: 152px;
  }
  72% {
    top: -92px;
    left: 157px;
  }
  74% {
    top: -89px;
    left: 162px;
  }
  76% {
    top: -86px;
    left: 167px;
  }
  78% {
    top: -79px;
    left: 173px;
  }
  80% {
    top: -75px;
    left: 179px;
  }
  82% {
    top: -69px;
    left: 184px;
  }
  84% {
    top: -63px;
    left: 188px;
  }
  86% {
    top: -57px;
    left: 189px;
  }
  88% {
    top: -53px;
    left: 191px;
  }
  90% {
    top: -48px;
    left: 192px;
  }
  92% {
    top: -43px;
    left: 193px;
  }
  94% {
    top: -34px;
    left: 196x;
  }
  96% {
    top: -27px;
    left: 197px;
  }
  98% {
    top: -23px;
    left: 199px;
  }
  100% {
    top: -17px;
    left: 200px;
  }
}

.linha-1 {
  position: relative;
  left: -3px;
  top: -2px;
  display: block;
  width: 10px;
  height: 0px;
  border: 2px solid #e5bb46;
  transform: rotate(-90deg);
  z-index: 100;
}

.linha-2 {
  position: relative;
  left: 207px;
  top: -6px;
  display: block;
  width: 10px;
  height: 0px;
  border: 2px solid #e5bb46;
  transform: rotate(-90deg);
  z-index: 1000;
}

.linhas-cortadas {
  position: absolute;
  width: 212px;
  height: 106px;
  left: 0;
  top: -105.6px;
  background-image: url(../imagens/Ellipse\ 2.png);
  background-size: cover;
}

.nascer-por-sol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.lua {
  background-color: blue;
}

.dados-semana {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  width: 578px;
  height: 212px;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 40px;
  background: #6d67d0;
}

.dados-semana > .title {
  color: #dad8f7;
  font-size: 14px;
  line-height: 17px;
}

.dados-semana > .dias-semana {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
}

.dados-semana > .dias-semana > div > .temp-max {
  margin: 0 8px;
  color: #fff;
}

.dados-semana > .dias-semana > div > .temp-min {
  color: #c2bff4;
}
